:root {
  --dark-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --very-dark-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
}

/* General styling */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 12px;
  background: linear-gradient(var(--soft-violet), var(--soft-blue));
  font-family: "Kumbh Sans", sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  color: var(--dark-blue);
  text-align: center;
}

p {
  font-size: 15px;
  color: var(--dark-blue);
}

.faq-container hr {
  border: 0;
  border-top: 1px solid var(--light-grayish-blue);
}
/* Layout */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  position: relative;
  width: 90%;
  max-width: 1100px;
  background-color: #fff;
  padding: 0 20px 30px 20px;
  border-radius: 14px;
  box-shadow: 0 10px 20px rgb(104, 76, 158);
}

.mobile-images {
  position: relative;
}

.mobile-pattern {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.mobile-woman {
  position: absolute;
  top: -110px;
  left: 47.5%;
  transform: translate(-52.5%);
}

.faq-container {
  margin-top: 130px;
}

/* Details */
.desktop-images {
  display: none;
}

.box-image {
  display: none;
}

.answer {
  display: none;
}

.question {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}
.arrow-down {
  display: inline-block;
  position: absolute;
  right: 25px;
  margin-top: 17px;
}

.show {
  display: block;
  font-size: 13px;
  margin-top: 0;
  padding-right: 30px;
}

.arrow-up {
  transform: rotate(-180deg);
}

.bold {
  font-weight: 700;
}

/* Responsiveness */
@media only screen and (min-width: 700px) {
  .mobile-woman {
    left: 48.5%;
    transform: translate(-51.5%);
  }
}

@media only screen and (min-width: 1000px) {
  .box {
    display: flex;
    overflow: hidden;
  }

  .mobile-images {
    display: none;
  }

  .desktop-images {
    display: block;
    position: relative;
  }

  .desktop-pattern {
    position: absolute;
    top: -240px;
    left: -600px;
  }

  .desktop-woman {
    position: absolute;
    top: 80px;
    left: -105px;
  }

  .box-image {
    display: block;
    position: relative;
    top: 20px;
    left: 70px;
    z-index: 4;
  }

  .faq {
    text-align: left;
  }

  .faq-container {
    position: relative;
    margin-top: 90px;
    width: 400px;
    left: 550px;
    margin-bottom: 90px;
  }

  .arrow-down {
    position: absolute;
    right: 5px;
    width: 13px;
    height: auto;
  }

  .question:hover {
    color: var(--soft-red);
  }
}

